# Dependências
node_modules/
**/node_modules/

# Arquivos de manifesto do npm
package.json
package-lock.json
**/package.json
**/package-lock.json

# Arquivo local de lembretes
memories.md

# Ignorar o histórico do projeto (contexto do professor)
/history.md

# Arquivos de log e sistema
npm-debug.log*
.DS_Store

/Assets
/PraticesAssync
# VS Code Workspace file
*.code-workspace








